.actor {
    display: grid;
    grid: "pic name" "pic role" / 75px auto;
    grid-column-gap: 1em;
    align-items: center;
  }
  .actor__picture {
    max-width: 75px;
    grid-area: pic;
  }
  
  .actor__name {
    display: block;
    font-weight: bold;
  }
  
  .actor__role {
    font-style: italic;
  }
  