* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body, html, #root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}



.link {

  text-decoration: underline;

  cursor: pointer;

}

.button {
  cursor: pointer;
  appearance: none;
  outline: none;
  background: none;
  border: solid 1px lightgray;
  padding: 1em;
  border-radius: 5px;
  text-transform: uppercase;

}

.button--primary {
  background: steelblue;
  color: white;
}

.button--dismiss {
  border: none;
  text-decoration: underline;
}

.enumeration {
  display: inline-block;
  margin-right: .5em;
}

.enumeration:after {
  content: ',';
}

.enumeration:last-child:after {
  content: '';
}
